@font-face {
    font-family: 'dk_drop_dead_gorgeousregular';
    src: url('../fonts/dk_drop_dead_gorgeous-webfont.woff2') format('woff2'),
        url('../fonts/dk_drop_dead_gorgeous-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}