// Layout
$max-width: 1600px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;
$marge: 15px;

// Typos
$font-default: 'Arial', sans-serif;
$font-title: 'dk_drop_dead_gorgeousregular';


// Colors
$dark-grey: #292D30;
$light-grey: #707070;
$light-brown: #6B472D;
$dark-brown: #422918;
$blue: #031464;
$orange: #F39200;
$white: #FFFFFF;


$link-color: $orange;